header {
  background-color: yellowgreen;
}

.pangHi {
  vertical-align: bottom;
}

main {
  background-color: tomato;
}

.redBox {
  background-color: red;
  display: flexbox;
  width: 300px;
  height: 120px;
}

footer {
  background-color: thistle;
}

.blueBox {
  background-color: blue;
  color: white;
  display: flexbox;
  width: 300px;
  height: 120px;
}
